################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week 1 ( C++)/Mini-Max Sum/.vs/Mini-Max Sum
/Week 1 ( C++)/Time Conversion/.vs/Time Conversion
/Week 1 ( C++)/Breaking the Records/.vs/Breaking the Records
/Week 1 ( C++)/Camel Case 4/.vs/Camel Case 4
/Week 1 ( C++)/Divisible Sum Pairs/.vs/Divisible Sum Pairs
/Week 1 ( C++)/Sparse Arrays/.vs/Sparse Arrays
